@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dongle&family=Playwrite+HU:wght@100..400&display=swap');

.search-input-box{
           background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
           background-position: 13px center;
           background-size: contain;
           background-repeat: no-repeat;
           border: 1px solid #ccc;

           padding: 5px 5px;
           text-indent: 30px;

           width: 120px;
        }

.search-input-box:focus {
           background-image: none;
           background-position: -10px center;
           text-indent: 0;
           width: 50%;
}
a.room-card:link { color: black; text-decoration: none;}
a.room-card:visited { color: black; text-decoration: none;}
a.room-card:hover { color: black; text-decoration: none; border : 1px solid black;}

.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.round-btn {
          font-size: 30px;
          background-color: skyblue;
          color: white;
          border: none;
          border-radius: 20px;
}

.fill-button-text{
        --bs-btn-padding-y: .15rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 0.8rem;
}

.date-time-text{
     font-size: 0.8 rem;
}

.dongle-regular {
        font-family: "Dongle", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.ui-timepicker-container{
        z-index:1151 !important;
}

.playwrite-hu-400 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.regist-load-product-img {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.product-card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
}