<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2 mb-2">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 playwrite-hu-400" href="#">&nbsp;&nbsp;Auctrade</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link fs-3 bagel-fat-one-regular" href="/limits">한정판매</a>
                    <a class="nav-link fs-3 bagel-fat-one-regular" href="/auctions">경매장</a>
                </div>
                <div class="navbar-nav">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-person-circle"></i>&nbsp;&nbsp;INFO</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end bg-secondary bg-gradient" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="text-light" id="offcanvasRightLabel">INFO</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card m-2">
                <a href="/mypage" class="card-link profile-card">
                    <div class="row g-0">
                        <div class="col-md-4" style="height: 100px;">
                            <img style="height: 100px; width:100%; object-fit:cover;" src="/icon/bootstrap-icons-1.11.3/incognito.svg" class="img-fluid rounded-start ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body px-3" style="background-color:#F5F5F5; ">
                                <div class="card-title fs-4 bold">Nickname</div>
                                <div class="px-2 fs-6" id="mytab-username"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container" style="height: 10px;"></div>
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/users/auctions';" style="height: 80px; width: 100px;">
                    <i class="bi bi-bank"></i><br> auction
                    </button>
                    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/users/limits/my-list';" style="height: 80px; width: 100px;">
                        <i class="bi bi-cart4"></i><br> sale
                    </button>
                    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/users/purchases/my-list';" style="height: 80px; width: 100px;">
                        <i class="bi bi-layout-text-sidebar"></i><br> trade
                    </button>
                </div>
            </div>
            <div class="container">
                <div class="row pt-3 mb-1 border-bottom text-light" >최근 본 항목</div>
                <ul class="list-group">
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                    <li class="list-group-item">A second item</li>
                </ul>
            </div>
        </div>
    </div>
</div>
