<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2 mb-2">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 playwrite-hu-400" href="#">&nbsp;&nbsp;Auctrade</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link fs-3 bagel-fat-one-regular" href="/auctions">경매장</a>
                    <a class="nav-link fs-3 bagel-fat-one-regular" href="/limited">재고떨이</a>
                </div>
            </div>
        </div>
    </nav>
</div>