<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <div class="container" id="chatRoomList">
            <div class="row" style="background-color:#cfd9f6">
            </div>
        </div>
    </div>
</div>
<form action="/api/chat/room" method="post">
    <input type="text" name="name" class="form-control">
    <button class="btn btn-secondary" id ="btn-create">개설하기</button>
</form>
</body>

<script>

    $(document).ready(function(){
      $.ajax({
        url : `/api/chat/roomList`,
        type : 'get',
        contentType: "application/json; charset=UTF-8",
        success : function (result) {
            makeList(result);
            console.log(result);
        },
        error : function (request, status, error) {
            console.log(error);
        }
        });
    })

    $("#btn-create").on("click", function (e){
        e.preventDefault();
        var name = $("input[name='name']").val();
        if(name == "")
        alert("Please write the name.");
        else
        createRoom(name);
    });

    function createRoom(name){
    $.ajax({
            url : `/api/chat/room`,
            type : 'post',
            data: name,
            contentType: "application/json; charset=UTF-8",
            success : function (result) {
                makeList(result);
                console.log(result);
            },
            error : function (request, status, error) {
                console.log(error);
            }
        });
    }

    function makeList(result) {
    var inner = '';
    result.forEach(element => {
      inner += `<div class="row" style="background-color:#cfd9f6">
                ${element.title}
                <button type="button" class="btn btn-outline-primary fs-1" style="width: 50px;"
                    onclick="location.href='/chat/room?roomId=${element.title}'">입장</button>
      </div>`;
    })
    document.querySelector('#chatRoomList').innerHTML = inner;
    }

</script>

</html>